#if(!$model.permalink)
<div class="daybox">
#end

    #foreach( $entry in $entries )
		<div class="entryBox">
			<a name="$utils.encode($entry.anchor)" id="$utils.encode($entry.anchor)"></a>

		    #if(!$model.permalink)	<!-- Ansonsten wird der Titel in entry.vm angezeigt -->
		    <h2 class="entryTitle"><a href="$entry.permalink">$entry.title</a></h2>

			<!-- Author, Date and Comments -->
			<div class="entryInfo">
		    <p>
		    <i class="icon-time"></i> Posted on $utils.formatDate($day, "EEEE MMM dd, yyyy") at $utils.formatDate($entry.pubTime, "hh:mma") by $entry.creator.screenName in <span class="category">$entry.category.name</span>&nbsp;&middot;&nbsp; 
		    #set($commentCount = $entry.commentCount)
		    #if($entry.commentsStillAllowed || $commentCount > 0)
		    	#set($link = "$url.comments($entry.anchor)" )
		        <a href="$link" class="comment"><i class="icon-comment"></i> $commentCount</a>
		    #else        
		    	<i class="icon-comment"></i> <span class="comment">$commentCount</comment>
		    #end
		    #if ($utils.isUserAuthorizedToAuthor($entry.website))
		    	&nbsp;&middot;&nbsp;
		        <a href="$url.editEntry($entry.anchor)"><i class="icon-edit"></i> $text.get("generic.edit")</a>
		    #end
		    </p>
		    </div>
		    <!-- / Author, Date and Comments -->
		    #end
			   
		    <div class="entryContent">
		        #if($model.permalink)
		        	#if($utils.isNotEmpty($entry.summary))
		        		<p class="summary">$entry.summary</p>
		        	#end	
		            <p class="content">$entry.displayContent</p>
		        #else
		            #if($utils.isNotEmpty($entry.summary))
		                <p class="summary">$entry.summary</p>
                        <a class="btn btn-primary" href="$url.entry($entry.anchor)">Read More <i class="icon-angle-right"></i></a>
                    #else
                        <p>$entry.displayContent</p>
                    #end
		        #end
		    </div>
		</div>
		#if(!$model.permalink)
			<hr class="separator">
		#end	
    #end

#if(!$model.permalink)
</div>
#end