## Content for sidebar
<div class="search-box">
	<form id="searchForm" method="get" action="$url.search" class="form-inline" onsubmit="return validateSearch(this)">
		<input type="text" class="form-control input-sm" id="q" name="q" maxlength="255" placeholder="Search..." value="">
		<button type="submit" id="search-btn" class="btn"><i class="icon-search"></i></button>
	</form>
	<script>
		function validateSearch(form) {
			if (form.q.value == "") {
				alert("$text.get("macro.weblog.searchalert")");
				form.q.focus();
				return false;
			}
			return true;
		}
	</script>
</div>

<!-- Show GitHub extension only if GitHubModel is active -->
#if($github)
#parse("github.vm")
<div class="github-box">
	#ghpluginMyProfile
	
	<div class="about">
		<p>$model.weblog.about</p>
	</div>
	
	<h3>Contributed @GitHub</h3>
	#ghpluginMyRepositories
	#ghpluginVersion
</div>
#end