<div class="container">
    <div class="footer_bottom">
    	<div class="row">
    		<div class="col-lg-12">
				Copyright &copy; 2015, Kivio Theme based on Unique Template by <a href="http://webthemez.com">WebThemez.com</a>.
				<ul class="footer-actions">
					<li><i class="icon-rss subscribe"></i> <a href="$url.feed.entries.rss">RSS</a></li> 
					<li><i class="icon-rss subscribe"></i> <a href="$url.feed.entries.atom">Atom</a></li>
					<li><a href='$url.page("imprint")'>Imprint</a></li>
					#if ($utils.isUserAuthenticated())
					<li><a href="$url.logout">$text.get("navigationBar.logout")</a></li>
					#else	
					<li><a href="$url.logout">$text.get("navigationBar.login")</a></li>
					#end
				</ul>  
			</div>	
    	</div>
    </div>
</div>
<!-- Placed at the end of the document so the pages load faster -->
<script src="$url.resource('js/jquery.js')"></script>
<script src="$url.resource('js/jquery.isotope.js')"></script>
<script src="$url.resource('js/bootstrap.min.js')"></script>