<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, maximum-scale=1">

<link rel="icon" href="$url.resource('icons/favicon.png')" type="image/png">
<link rel="shortcut icon" href="$url.resource('icons/favicon.png')" type="image/png">

<!-- Bootstrap Libraries -->
<link href="$url.resource('css/bootstrap.min.css')" rel="stylesheet" type="text/css">
<link href="$url.resource('css/style.css')" rel="stylesheet" type="text/css">
<link href="$url.resource('css/github.css')" rel="stylesheet" type="text/css">
<link href="$url.resource('css/roller-github-plugin.css')" rel="stylesheet" type="text/css">
<link href="$url.resource('css/font-awesome.min.css')" rel="stylesheet" type="text/css"> 
<link href="$url.resource('css/animate.css')" rel="stylesheet" type="text/css">

<!-- Load Highlight.js -->
<script src="$url.resource('js/highlight.pack.js')"></script>
<script>hljs.initHighlightingOnLoad();</script>
 
<!--[if lt IE 9]>
    <script src="$url.resource('js/respond-1.1.0.min.js')"></script>
    <script src="$url.resource('js/html5shiv.js')"></script>
    <script src="$url.resource('js/html5element.js')"></script>
<![endif]-->



