<div class="container">
	<div class="header_box">
	  <div class="logo"><a href="$url.home"><img src="$url.resource('icons/kivio-white.png')" alt="logo"></a></div>
	  	<nav class="navbar navbar-inverse" role="navigation">
	  	  <!-- Nur auf kleinen Bildschirmen zu sehen -->
		  <div class="navbar-header">
		    <button type="button" id="nav-toggle" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav"> 
		    	<span class="sr-only">Toggle navigation</span> 
		    	<span class="icon-bar"></span> 
		    	<span class="icon-bar"></span> 
		    	<span class="icon-bar"></span>
		    </button>
		  </div>
		  #set($cats = $model.weblog.getWeblogCategories())
		  <div id="main-nav" class="collapse navbar-collapse navStyle">
				<ul class="nav navbar-nav" id="mainNav">
					<!-- Home -->
					#if ($model.weblogCategory || $model.permalink)
						<li><a href="$url.home"><i class="icon-home" style="font-size:1.25em"></i></a></li>
					#else
						<li class="active"><a class="scroll-link" href="$url.home"><i class="icon-home" style="font-size:1.25em"></i></a></li>
					#end
					#foreach($cat in $cats)
						#if ($model.weblogCategory && $model.weblogCategory.name == $cat.name || ($model.permalink && $model.weblogEntry.category.name == $cat.name))
							<li class="active"><a class="scroll-link" href="$url.category($cat.name)">$cat.name</a></li>
						#else
							<li><a class="scroll-link" href="$url.category($cat.name)">$cat.name</a></li>
						#end
					#end
				</ul><!-- /mainNav -->
		  </div>
	 	</nav>
	</div>
</div>
</div>